nav {
    background-color: lightsalmon;
    border-bottom: 3px solid orangered;
    padding: 5px;
}

header {
    background-color: #777;
    padding: 10px 15px;
    margin-top: 5px
}

header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: goldenrod;
    font-family: Helvetica, sans-serif;
}

li:hover {
    /*list-style-type: none;*/
    text-decoration: underline;
    color: red;
    text-orientation: sideways-right;
}

article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(50px, auto);
    background-color: teal;
    border-style: solid;
    border-radius: 1px;
    border-width: 8px;
    border-color: blue;
}

article > aside{
    grid-column: 5;
    background-color: skyblue;
    border: 3px solid black;
    margin-top: 20px;
    margin-right: 25px;
}